@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

.page-padding {
  padding-top:max(env(safe-area-inset-top),2.5rem);
}

.page-margin {
  margin-top:max(env(safe-area-inset-top),2.5rem);
}